/CoreJava/nbproject/private/
/CoreJava/dist/
/CoreJava/build/
/CoreJavaDag/nbproject/private/
/CoreJavaDag/build/
/HomeWork/nbproject/private/
/HomeWork/build/
/HomeWork/dist/
/TopicWisePractice/nbproject/private/
/TopicWisePractice/build/
/CoreJavaDag/dist/
/JakirVai/build/
/JavaCollection/nbproject/private/
/JavaCollection/build/
/JavaIO/nbproject/private/
/JavaIO/build/
/IOJavaTPoint/nbproject/private/
/IOJavaTPoint/build/
/JavaApplication12/nbproject/private/
/JavaApplication12/build/
/CoreJavaFile/nbproject/private/
/CoreJavaFile/build/
/JavaIOForFile/nbproject/private/
/JavaIOForFile/build/
/JavaIOForFile/dist/
/JavaDocs/nbproject/private/
/JavaDocs/build/
/JavaThread/nbproject/private/
/JavaThread/build/
/Sanfoundry/nbproject/private/
/Sanfoundry/build/
/ThreadInJavaTPoint/nbproject/private/
/ThreadInJavaTPoint/build/
/ConsoleFileIO/nbproject/private/
/ConsoleFileIO/build/
/JavaIOHerbert/nbproject/private/
/JavaIOHerbert/build/
/StringOperation/nbproject/private/
/StringOperation/build/
/JavaSerialization/nbproject/private/
/JavaSerialization/build/
/AB_Sir/nbproject/private/
/JavaSwing/nbproject/private/
/JavaSwing/build/
/LogicalProgram/nbproject/private/
/LogicalProgram/build/